.mapsly_connector_frame_view {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1;

	> iframe {
		width: 100%;
		height: 100%;
		border: none;
		display: block;
	}
}