somachame_finance/__pycache__
mapsly_connector/__pycache__

mapsly_connector/models/__pycache__
mapsly_connector/static/description
somachame_finance/models/__pycache__
somachame_finance/wizard/__pycache__
